#-- SPDX-License-Identifier: GPL-3.0-or-later
#-- Copyright (C) 2026 Willem Aandewiel

menu "FTP server example"
choice APP_FILESYSTEM
    prompt "Storage filesystem"
    default APP_FILESYSTEM_LITTLEFS
config APP_FILESYSTEM_LITTLEFS
    bool "LittleFS"
config APP_FILESYSTEM_FATFS
    bool "FATFS with wear levelling"
endchoice
config APP_FTP_PORT
    int "FTP control port"
    range 1 65535
    default 21
config APP_DEVICE_HOSTNAME
    string "Device hostname"
    default "ftp-server"
endmenu
