#-- SPDX-License-Identifier: GPL-3.0-or-later
#-- Copyright (C) 2026 Willem Aandewiel

menu "FTP server basic example"
choice EXAMPLE_FILESYSTEM
    prompt "Storage filesystem"
    default EXAMPLE_FILESYSTEM_LITTLEFS
config EXAMPLE_FILESYSTEM_LITTLEFS
    bool "LittleFS"
config EXAMPLE_FILESYSTEM_FATFS
    bool "FATFS with wear levelling"
endchoice
config EXAMPLE_FTP_PORT
    int "FTP control port"
    range 1 65535
    default 21
config EXAMPLE_DEVICE_HOSTNAME
    string "Device hostname"
    default "ftp-server"
endmenu
